<h2>Your bookmarks</h2>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add Bookmarks">
</form>